.category-name p{
padding-top: 15px !important;
font-size: 2em;
}

.category-info{
    display: flex;
    justify-content: space-between;
}
.category-info p{
   padding-bottom: 10px;
   font-size: 1.2em;
}



.category-info a:hover{
    transform: scale(1.1);
    transition: 0.1s;
}